.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sectionTitle {
  margin-bottom: 20px;
}

.experienceList {
  display: flex;
  flex-wrap: wrap; /* wraps skills to new line if needed */
  justify-content: center;
  gap: 20px; /* spacing between skill items */
}

.skillItem {
  display: flex;
  flex-direction: row; /* checkmark left, text right */
  align-items: center;
  gap: 10px; /* spacing between checkmark and text */
}

.skillImg {
  width: 48px;
  height: 48px;
}
